ion-item{
    background-color: #fff !important;
  }
  .fundo
  {
    background-color: #fff !important;
  }
  ion-col{
    position : initial !important;
  }

  .scroll-content {
     padding-bottom: 0 !important;
  }