<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Comprovante</ion-title>
  </ion-toolbar >
</ion-header>

<ion-content padding>
  <ion-row  align-items-center>
    <ion-col text-center >
      <img class="logo" src="../../assets/img/background/programada.png" />
    </ion-col>
  </ion-row>
  <ion-row align-items-center> 
    <ion-col text-center>
      <ion-label>
        <h1 ion-text>Pagamento #00000</h1>
       <p>Pagamento: 31/10/2019</p>
      </ion-label>
    </ion-col>

  </ion-row>
  <ion-card color="tertiary">
   
      <ion-grid no-padding >
          <ion-row class="tb" padding align-items-center>
        
              <ion-col text-left>
                <ion-label padding > 
                  Descrição
                </ion-label>
              </ion-col>
              <ion-col text-right>
                <ion-label padding >Sub-total</ion-label>
              </ion-col>
            </ion-row>
    <ion-row  align-items-center padding>
      <ion-col text-left size="7">
        <ion-label  >Compra Programada (1/48)</ion-label>
      </ion-col>
    
      <ion-col text-right size="5">
        <ion-label padding >R$ 0,00</ion-label>
      </ion-col>
    </ion-row>
    <div>
        
      <ion-row class="tb" align-items-center padding>
        
        <ion-col text-left>
          <ion-label padding > 
            Total
          </ion-label>
        </ion-col>
        <ion-col text-right>
          <ion-label padding >R$ 0,00</ion-label>
        </ion-col>
      </ion-row>

    </div>
  </ion-grid>
    
  </ion-card>
</ion-content>
