// .nomargin {
//     margin: 0 !important;
// }

// .accordion-header {
//     color: rgb(0, 0, 0);

//     .item-inner {
//         margin-left: 0 !important;
//     }

//     ion-icon {
//         transition: all .25s ease-in;
//         transform: rotate(0);
//     }
// }

// .active ion-icon {
//     transform: rotate(90deg);
// }

// .accordion-content {
//     transition: 0.3s ease-in-out;
//     &.active {
//         padding: .75rem;
//     }
// }

// .label {
//     margin: 0px;
// }
.expand-wrapper {
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
    height: auto;
  }
  
  .collapsed {
    max-height: 0 !important;
  }

