ion-item{
    padding-left: 0px !important;
    --padding-end: 0px;
    --inner-padding-end: 0px;
    font-size: 14px !important;
}
// ion-icon {

//   font-size: 3.2rem;
// }
.item-inner
{
  margin-left: 0px !important;
  padding-right: 0px !important;
}
.label 
{
  margin: 0 !important;
}