ion-card{
    ion-icon {
  
        font-size: 2.2rem;
      }
      .tb{
        border-bottom: 1px #969696a1 solid;
       background-color: rgba(0, 0, 0, 0.1);
      }
    .item
    {
        padding-left: 0px !important;
    }
    .label 
    {
      margin: 0px !important;
    }


}
// ion-card ion-toolbar ion-icon{
//   transition: all .25s ease-in;
//   transform: rotate(0);
// } 
.active  {
  transition: all .25s ease-in;
 transform: rotate(90deg);

 
}
.off{
  transition: all .25s ease-in;
  transform: rotate(0);
}